# 1.Discuss string slicing and provide examples.
**Ans:-** String slicing in programming refers to the process of extracting a portion (or "slice") of a string. In many programming languages like Python, this is done using indexing, which allows you to access specific parts of the string based on their position.

**Syntax:**

         string[start:end:step]
**start:** The starting index (inclusive). If omitted, it defaults to the beginning of the string.

**end:** The ending index (exclusive). If omitted, it defaults to the end of the string.

**step:** The interval between characters. If omitted, it defaults to 1.

**Examples:**

**1. Basic Slicing:**

In [1]:
text = "Hello, World!"
print(text[0:5])  # Output: Hello

Hello

**2. Omitting Start and End:**

In [2]:
print(text[:5])    # Output: Hello
print(text[7:])    # Output: World!

Hello
World!

**3. Negative Indexing:**

In [3]:
print(text[-6:])   # Output: World!

World!

**4. Slicing with Steps:**

In [4]:
print(text[0:13:2])   # Output: Hlo ol!

Hlo ol!

**5. Reversing a String:**

In [5]:
print(text[::-1])  # Output: !dlroW ,olleH

!dlroW ,olleH

# 2. Explain the key features of lists in Python.
**Ans:-** Lists in Python are one of the most versatile and commonly used data structures. They allow you to store collections of items (elements), which can be of different types, including other lists. Here are the key features of lists in Python:

**1. Ordered Collection**

  Lists maintain the order of elements. The order in which elements are inserted is the order in which they are accessed.
  
**Example:**

In [6]:
my_list = [10, 20, 30]
print(my_list[0])  # Output: 10

10

**2. Mutable**

Lists are mutable, meaning you can modify the elements after the list has been created.

**Example:**

In [7]:
my_list[1] = 25
print(my_list)  # Output: [10, 25, 30]

[10, 25, 30]

**3. Heterogeneous Elements**

A list can contain elements of different data types, such as integers, strings, floats, and even other lists.

**Example:**

In [8]:
my_list = [1, "Hello", 3.14, [2, 4, 6]]
print(my_list)  # Output: [1, 'Hello', 3.14, [2, 4, 6]]

[1, 'Hello', 3.14, [2, 4, 6]]

**4. Dynamic Size**

Lists are dynamic, meaning you can add or remove elements after the list is created, and its size changes automatically.

**Example:**

In [9]:
my_list = [10, 20]
my_list.append(30)  # Adds 30 to the list
print(my_list)  # Output: [10, 20, 30]

[10, 20, 30]

**5. Indexing and Slicing**

Lists support indexing (both positive and negative) and slicing to access or modify portions of the list.

**Example:**

In [10]:
my_list = [10, 20, 30, 40, 50]
print(my_list[2])     # Output: 30 (positive indexing)
print(my_list[-1])    # Output: 50 (negative indexing)
print(my_list[1:4])   # Output: [20, 30, 40] (slicing)

30
50
[20, 30, 40]

**6. Methods for List Manipulation**

Lists come with many built-in methods for manipulation:

**append():** Adds an element to the end of the list.

**insert():** Adds an element at a specific position.

**remove():** Removes the first occurrence of a value.

**pop():** Removes an element at a given index (default is the last element).

**sort():** Sorts the list in ascending order.

**reverse():** Reverses the list order.

**extend():** Extends the list by appending elements from another list.

**Example:**

In [11]:
my_list = [10, 20, 30]
my_list.append(40)      # Adds 40 to the list
my_list.remove(20)      # Removes 20 from the list
my_list.reverse()       # Reverses the list
print(my_list)          # Output: [40, 30, 10]

[40, 30, 10]

**7. List Comprehension**

Python supports list comprehensions for concise and readable creation of lists.

**Example:**

In [12]:
squares = [x**2 for x in range(5)]
print(squares)  # Output: [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

**8. Nested Lists**

Lists can contain other lists (called nested lists), making them useful for representing matrices or multi-dimensional data.

**Example:**

In [13]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix[1][2])  # Output: 6

6

**9. Iterable**

Lists are iterable, meaning you can loop through their elements using a for loop or similar constructs.

**Example:**

In [14]:
for item in [10, 20, 30]:
    print(item)
# Output:
# 10
# 20
# 30

10
20
30

**10. Memory Efficient**

Lists are implemented as dynamic arrays, which allows them to grow dynamically in memory without the need for manual reallocation.

# 3. Describe how to access, modify, and delete elements in a list with examples

**Ans:-** In Python, lists are flexible and allow you to easily access, modify, and delete elements using different techniques. Below is a detailed explanation of how to perform these actions with examples.

**1. Accessing Elements in a List**

  You can access elements in a list using indexing or slicing. Indexing is used to access individual elements, while slicing allows you to access a range of elements.

**a. Using Indexing:**

Indexing starts at 0 for the first element and -1 for the last element.

Example:

In [15]:
my_list = [10, 20, 30, 40, 50]
print(my_list[0])    # Output: 10 (First element)
print(my_list[2])    # Output: 30 (Third element)
print(my_list[-1])   # Output: 50 (Last element)

10
30
50

**b. Using Slicing:**

You can access multiple elements using slicing (list[start:end]), where start is inclusive, and end is exclusive.

Example:

In [16]:
print(my_list[1:4])  # Output: [20, 30, 40] (Elements from index 1 to 3)
print(my_list[:3])   # Output: [10, 20, 30] (Elements from start to index 2)
print(my_list[2:])   # Output: [30, 40, 50] (Elements from index 2 to the end)

[20, 30, 40]
[10, 20, 30]
[30, 40, 50]

**2. Modifying Elements in a List**

Lists are mutable, meaning you can change individual elements or ranges of elements using indexing or slicing.

**a. Modify a Single Element:**

You can assign a new value to a specific element by accessing it via its index.

Example:

In [17]:
my_list[1] = 25
print(my_list)  # Output: [10, 25, 30, 40, 50] (Modified second element)

[10, 25, 30, 40, 50]

**b. Modify Multiple Elements Using Slicing:**

You can replace a slice of the list with new values.

Example:

In [18]:
my_list[1:3] = [200, 300]
print(my_list)  # Output: [10, 200, 300, 40, 50] (Replaced two elements)

[10, 200, 300, 40, 50]

**c. Add New Elements:**

You can append elements at the end using append() or insert elements at specific positions using insert().

Example:

In [19]:
my_list.append(60)
print(my_list)  # Output: [10, 200, 300, 40, 50, 60] (Added element at the end)

my_list.insert(2, 150)
print(my_list)  # Output: [10, 200, 150, 300, 40, 50, 60] (Inserted 150 at index 2)

[10, 200, 300, 40, 50, 60]
[10, 200, 150, 300, 40, 50, 60]

**3. Deleting Elements from a List**

Python provides several ways to remove elements from a list, including using the del statement, remove(), and pop().

**a. Using del Statement:**

You can delete a single element or a slice of elements.

Example:

In [20]:
del my_list[2]      # Deletes the element at index 2
print(my_list)      # Output: [10, 200, 300, 40, 50, 60]

del my_list[1:3]    # Deletes a slice from index 1 to 2
print(my_list)      # Output: [10, 40, 50, 60]

[10, 200, 300, 40, 50, 60]
[10, 40, 50, 60]

**b. Using remove() Method:**

remove() deletes the first occurrence of a specified value.

Example:

In [21]:
my_list.remove(50)
print(my_list)  # Output: [10, 40, 60] (Removed the first occurrence of 50)

[10, 40, 60]

**c. Using pop() Method:**

pop() removes and returns the element at a specified index. If no index is provided, it removes the last element.

Example:

In [22]:
last_element = my_list.pop()   # Removes and returns the last element
print(last_element)            # Output: 60
print(my_list)                 # Output: [10, 40]

second_element = my_list.pop(1) # Removes and returns the element at index 1
print(second_element)          # Output: 40
print(my_list)                 # Output: [10]

60
[10, 40]
40
[10]

# 4. Compare and contrast tuples and lists with examples

**Ans:-** Tuples and lists are both built-in data structures in Python that allow you to store collections of items. However, they have distinct characteristics that make them suitable for different use cases. Below is a comparison of tuples and lists along with examples.

**1. Mutability**

* Lists are mutable, meaning you can change, add, or remove elements after the list has been created.

* Tuples are immutable, meaning once a tuple is created, you cannot change its elements or its size.





Example:

In [23]:
# Lists (mutable)
my_list = [1, 2, 3]
my_list[1] = 20        # Modifying an element
my_list.append(4)      # Adding an element
print(my_list)         # Output: [1, 20, 3, 4]

# Tuples (immutable)
my_tuple = (1, 2, 3)
# my_tuple[1] = 20     # This will raise a TypeError
# my_tuple.append(4)   # This will also raise an AttributeError
print(my_tuple)        # Output: (1, 2, 3)

[1, 20, 3, 4]
(1, 2, 3)

**2. Syntax**

* Lists use square brackets [] for their creation.
* Tuples use parentheses ().

Example:

In [24]:
my_list = [1, 2, 3]      # List
my_tuple = (1, 2, 3)     # Tuple

**3. Use Cases**

* Lists are typically used for collections of items that may need to be modified, such as when you need to add or remove elements.

* Tuples are often used for fixed collections of items that should not change, such as representing coordinates, returning multiple values from a function, or storing records.

Example:

In [25]:
# List use case
grocery_list = ['apple', 'banana', 'carrot']
grocery_list.append('date')  # Adding an item
print(grocery_list)           # Output: ['apple', 'banana', 'carrot', 'date']

# Tuple use case
coordinates = (10.0, 20.0)    # Fixed set of coordinates
print(coordinates)             # Output: (10.0, 20.0)

['apple', 'banana', 'carrot', 'date']
(10.0, 20.0)

**4. Methods**

* Lists come with many built-in methods such as append(), remove(), pop(), sort(), etc., for modifying the list.

* Tuples have fewer built-in methods since they are immutable. The main methods are count() and index().

Example:

In [26]:
# List methods
my_list = [1, 2, 3]
my_list.append(4)            # Adds an element
print(my_list)               # Output: [1, 2, 3, 4]

# Tuple methods
my_tuple = (1, 2, 3, 2)
print(my_tuple.count(2))     # Output: 2 (Counts occurrences of 2)
print(my_tuple.index(3))     # Output: 2 (Index of first occurrence of 3)

[1, 2, 3, 4]
2
2

**6. Packing and Unpacking**

* Both lists and tuples support packing and unpacking, which allows you to group and separate elements easily.

Example:

In [27]:
# Packing
my_tuple = (1, 2, 3)       # Packing into a tuple
my_list = [1, 2, 3]        # Packing into a list

# Unpacking
a, b, c = my_tuple         # Unpacking tuple into variables
print(a, b, c)             # Output: 1 2 3

x, y, z = my_list          # Unpacking list into variables
print(x, y, z)             # Output: 1 2 3

1 2 3
1 2 3

# 5. Describe the key features of sets and provide examples of their use
**Ans:-**Sets in Python are a built-in data structure that allows you to store unique elements. They are useful for various operations involving collections of items. Here are the key features of sets, along with examples of their use:

**Key Features of Sets**

**1. Unordered Collection:**

* Sets do not maintain any order. The elements are stored in a way that does not guarantee the order of insertion.

Example:

In [28]:
my_set = {3, 1, 2}
print(my_set)  # Output: {1, 2, 3} (Order may vary)

{1, 2, 3}

**2. Unique Elements:**

* Sets automatically enforce uniqueness; duplicate elements are not allowed.

Example:

In [29]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3} (Duplicates are removed)

{1, 2, 3}

**3. Mutable:**

* Sets are mutable, which means you can add or remove elements after the set has been created.

Example:

In [30]:
my_set = {1, 2, 3}
my_set.add(4)       # Adding an element
my_set.remove(2)    # Removing an element
print(my_set)       # Output: {1, 3, 4}

{1, 3, 4}

**4. Supports Mathematical Set Operations:**

* Sets support operations like union, intersection, difference, and symmetric difference.

Example:

In [31]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Union
union_set = set_a | set_b
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Intersection
intersection_set = set_a & set_b
print(intersection_set)  # Output: {3}

# Difference
difference_set = set_a - set_b
print(difference_set)  # Output: {1, 2}

# Symmetric Difference
symmetric_difference_set = set_a ^ set_b
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

**5. No Indexing:**

* Sets do not support indexing or slicing because they are unordered.

Example:

In [32]:
my_set = {1, 2, 3}
# print(my_set[0])  # This will raise a TypeError

**6. Comprehension:**

* Sets can be created using set comprehensions, allowing for concise construction.

Example

In [33]:
squares_set = {x**2 for x in range(5)}
print(squares_set)  # Output: {0, 1, 4, 9, 16}

{0, 1, 4, 9, 16}

**7. Subset and Superset Operations:**

* You can check if one set is a subset or superset of another.

Example

In [34]:
set_a = {1, 2}
set_b = {1, 2, 3, 4}

print(set_a.issubset(set_b))  # Output: True
print(set_b.issuperset(set_a)) # Output: True

True
True

**Use Cases of Sets**

**1. Removing Duplicates:**

* Sets are commonly used to remove duplicates from a list.

Example:

In [35]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = set(my_list)
print(unique_elements)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

**2. Membership Testing:**

* Checking for membership in a set is faster than in a list, making sets ideal for this purpose.

Example

In [36]:
my_set = {1, 2, 3}
print(2 in my_set)  # Output: True
print(4 in my_set)  # Output: False

True
False

**3. Mathematical Set Operations:**

* Sets are useful for performing operations like finding common elements (intersection) or combining elements (union).

Example:

In [37]:
students_math = {'Alice', 'Bob', 'Charlie'}
students_science = {'Bob', 'David', 'Eve'}

# Find students enrolled in either math or science
all_students = students_math | students_science
print(all_students)  # Output: {'Alice', 'Bob', 'Charlie', 'David', 'Eve'}

{'David', 'Bob', 'Charlie', 'Alice', 'Eve'}

**4. Data Cleaning:**

* Sets can be used in data preprocessing to ensure that a collection of items is unique before further analysis.

Example:

In [38]:
data = ["apple", "banana", "apple", "orange", "banana"]
cleaned_data = set(data)
print(cleaned_data)  # Output: {'orange', 'banana', 'apple'}

{'apple', 'orange', 'banana'}

# 6. Discuss the use cases of tuples and sets in Python programming.

**Ans:-** Tuples and sets are both fundamental data structures in Python, each with its unique characteristics that make them suitable for different programming scenarios. Below are the key use cases for each.

**Use Cases of Tuples in Python**

**1.Data Integrity:**

* Tuples are immutable, making them ideal for representing fixed collections of data that should not change. For example, they can store configuration settings or constants.

Example:

In [39]:
config = ("localhost", 8080, "user", "password")

**2. Returning Multiple Values from Functions:**

* Functions can return multiple values as a tuple, allowing you to return related pieces of information without creating a custom object.

Example:

In [40]:
def get_student_info():
    return ("Alice", 22, "Data Science")

name, age, major = get_student_info()
print(f"Name: {name}, Age: {age}, Major: {major}")

Name: Alice, Age: 22, Major: Data Science

**3. Using Tuples as Dictionary Keys:**

* Tuples can be used as keys in dictionaries since they are hashable. This is useful when you need to create composite keys from multiple elements.

Example

In [41]:
points = {(1, 2): "A", (3, 4): "B"}
print(points[(1, 2)])  # Output: A

A

**4. Packing and Unpacking:**

* Tuples enable packing and unpacking of data in a clean and readable way, which can improve code readability.

Example:

In [42]:
point = (10, 20)
x, y = point  # Unpacking
print(x)
print(y)

10
20

**5. Storing Records:**

* Tuples can be used to store related records, such as a database row, where each element of the tuple represents a column value.

Example:

In [43]:
employee = ("John Doe", 30, "Developer")
print(employee)

('John Doe', 30, 'Developer')

**Use Cases of Sets in Python**

**1. Removing Duplicates:**

* Sets automatically enforce uniqueness, making them ideal for removing duplicates from a collection, such as a list.

Example:

In [44]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

**2. Membership Testing:**

* Sets provide O(1) average time complexity for membership tests, making them faster for checking if an item exists compared to lists.

Example:

In [45]:
my_set = {1, 2, 3}
print(2 in my_set)  # Output: True
print(4 in my_set)  # Output: False

True
False

**3. Mathematical Set Operations:**

* Sets support various mathematical operations like union, intersection, difference, and symmetric difference, making them useful for mathematical computations.

Example:

In [46]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Union
print(set_a | set_b)  # Output: {1, 2, 3, 4, 5}

# Intersection
print(set_a & set_b)  # Output: {3}

# Difference
print(set_a - set_b)  # Output: {1, 2}

# Symmetric Difference
print(set_a ^ set_b)  # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

**4. Data Cleaning:**

* Sets can be used in data preprocessing to ensure that a collection of items is unique before further analysis.

Example:

In [47]:
raw_data = ["apple", "banana", "apple", "orange", "banana"]
cleaned_data = set(raw_data)
print(cleaned_data)  # Output: {'apple', 'banana', 'orange'}

{'apple', 'orange', 'banana'}

**5. Tracking Unique Items:**

* Sets are often used to track unique items, such as unique user IDs or unique items in an inventory system.

Example:

In [48]:
unique_users = set()
unique_users.add("user1")
unique_users.add("user2")
unique_users.add("user1")  # Duplicate, won't be added

print(unique_users)  # Output: {'user1', 'user2'}

{'user2', 'user1'}

# 7. Describe how to add, modify, and delete items in a dictionary with examples.
**ans:-** In Python, dictionaries are mutable, unordered collections of key-value pairs. You can easily add, modify, and delete items in a dictionary. Here’s how to do it with examples:

**Adding Items to a Dictionary**

**1. Using Square Bracket Notation:**

* You can add a new key-value pair to the dictionary by assigning a value to a new key.

Example:

In [49]:
# Creating an empty dictionary
my_dict = {}

# Adding items
my_dict["name"] = "Alice"
my_dict["age"] = 30
my_dict["city"] = "New York"

print(my_dict)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}

**2. Using the update() Method:**

* The update() method can also be used to add multiple key-value pairs to a dictionary.

Example:

In [50]:
my_dict = {"name": "Alice"}
my_dict.update({"age": 30, "city": "New York"})

print(my_dict)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}

**Modifying Items in a Dictionary**

* You can modify an existing key's value by simply assigning a new value to that key.

Example

In [51]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Modifying the age
my_dict["age"] = 31

print(my_dict)  # Output: {'name': 'Alice', 'age': 31, 'city': 'New York'}

{'name': 'Alice', 'age': 31, 'city': 'New York'}

**Deleting Items from a Dictionary**

**1. Using the del Statement:**

* The del statement can be used to remove a key-value pair from the dictionary.

Example:

In [52]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Deleting the city key
del my_dict["city"]

print(my_dict)  # Output: {'name': 'Alice', 'age': 30}

{'name': 'Alice', 'age': 30}

**2. Using the pop() Method:**

* The pop() method removes a specified key and returns its value. If the key is not found, it raises a KeyError unless a default value is provided.

Example:

In [53]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Popping the age key
age = my_dict.pop("age")

print(my_dict)  # Output: {'name': 'Alice', 'city': 'New York'}
print("Popped age:", age)  # Output: Popped age: 30

{'name': 'Alice', 'city': 'New York'}
Popped age: 30

**3. Using the popitem() Method:**

* The popitem() method removes and returns the last inserted key-value pair as a tuple. It raises a KeyError if the dictionary is empty.

Example:

In [54]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Popping the last item
last_item = my_dict.popitem()

print(my_dict)  # Output: {'name': 'Alice', 'age': 30}
print("Popped item:", last_item)  # Output: Popped item: ('city', 'New York')

{'name': 'Alice', 'age': 30}
Popped item: ('city', 'New York')

**4. Using the clear() Method:**

* The clear() method removes all key-value pairs from the dictionary.

Example:

In [55]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Clearing the dictionary
my_dict.clear()

print(my_dict)  # Output: {}

{}

# 8. Discuss the importance of dictionary keys being immutable and provide examples.

**Ans:-** In Python, the keys of a dictionary must be immutable types. This requirement is essential for several reasons, which I’ll discuss along with examples.

**Importance of Immutable Keys in Dictionaries**

**1. Hashability:**

* Dictionary keys must be hashable, which means they must have a fixed hash value throughout their lifetime. This property is essential for efficient data retrieval.

* Immutable types like strings, numbers, and tuples can be hashed, while mutable types like lists and dictionaries cannot. Using immutable keys ensures that the hash value remains constant and prevents unexpected behavior.

Example:

In [56]:
# Valid dictionary with immutable keys
my_dict = {
    "name": "Alice",
    "age": 30,
    (1, 2): "Point A"  # Tuple as a key
}

# Invalid dictionary with mutable keys (will raise TypeError)
try:
    my_dict[[1, 2]] = "List as key"
except TypeError as e:
    print(e)  # Output: unhashable type: 'list'

unhashable type: 'list'

**2. Data Integrity:**

* By enforcing immutability, dictionaries ensure that the keys cannot be altered after they are created. This preserves the integrity of the key-value mapping, which is critical for reliable data retrieval.

Example:

In [57]:
my_dict = {1: "One", 2: "Two"}

# Attempting to modify the key would lead to confusion
# This operation is not allowed as keys cannot be changed
# my_dict[1] = "Changed"  # This modifies the value, not the key

print(my_dict)  # Output: {1: 'One', 2: 'Two'}

{1: 'One', 2: 'Two'}

**3. Efficient Lookups:**

* The immutability of keys allows dictionaries to use hash tables for fast data retrieval. If keys were mutable, it would complicate how entries are stored and retrieved, significantly slowing down the process.

Example:

In [58]:
my_dict = {"apple": 1, "banana": 2, "orange": 3}

# Fast lookup
print(my_dict["banana"])  # Output: 2

2

**4. Preventing Errors:**

* Immutable keys help prevent errors that could arise from accidentally changing a key's value. If mutable objects were allowed, modifying the object would lead to inconsistent states and potential data loss.

Example:

In [59]:
my_dict = {"name": "Alice", "age": 30}

# If mutable keys were allowed, modifying the key could cause errors
# e.g., if a list was used as a key
# my_dict[[1, 2]] = "List"  # Imagine modifying the list after this assignment

**5. Use Cases for Tuples as Keys:**

* Immutable types, particularly tuples, are often used as keys to represent compound keys (multiple values combined).

Example:

In [60]:
# Using a tuple as a key for a coordinate system
coordinates = {
    (0, 0): "Origin",
    (1, 2): "Point A",
    (2, 3): "Point B"
}

print(coordinates[(1, 2)])  # Output: Point A

Point A

**Conclusion**

The requirement for dictionary keys to be immutable is crucial for ensuring the integrity, efficiency, and reliability of the dictionary's operation. By enforcing immutability, Python guarantees that keys remain constant, facilitating quick lookups and preventing potential errors caused by unintended modifications. This characteristic allows developers to use dictionaries effectively as robust data structures for managing key-value pairs in their applications.